In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import polars as pl
import re

from collections import Counter
from ydata_profiling import ProfileReport
from utils import get_non_castable, cleanup_and_cast, replace_outliers, fill_nas_from_other_customer_records
from constants import *

In [2]:
%load_ext autoreload
%autoreload 2

# Pandas

## Read data

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [4]:
pd_df_train = pd.read_csv("train.csv")

/var/folders/rr/2my7n2l5511dqbvltxz0qyzh0000gq/T/ipykernel_48047/768096524.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_df_train = pd.read_csv("train.csv")

In [5]:
pd_df_train.columns[26]

'Monthly_Balance'

In [6]:
get_non_castable(pd_df_train, "Monthly_Balance", float)

['__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__',
 '__-333333333333333333333333333__']

In [7]:
NA_VALUES = {"Monthly_Balance": "__-333333333333333333333333333__"}
pd_df_train = pd.read_csv("train.csv", na_values=NA_VALUES)

## Check validity

In [8]:
pd_df_train.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [9]:
for var in pd_df_train.columns:
    print(var)
    print("Examples of non-castable values: {}".format(get_non_castable(pd_df_train, var, float)[:10]))
    print("Unique values (potentially trimmed): {}".format(pd_df_train[var].unique()[:10]))
    print("")

ID
Examples of non-castable values: ['0x1602', '0x1603', '0x1604', '0x1605', '0x1606', '0x1607', '0x1608', '0x1609', '0x160e', '0x160f']
Unique values (potentially trimmed): ['0x1602' '0x1603' '0x1604' '0x1605' '0x1606' '0x1607' '0x1608' '0x1609'
 '0x160e' '0x160f']

Customer_ID
Examples of non-castable values: ['CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0xd40', 'CUS_0x21b1', 'CUS_0x21b1']
Unique values (potentially trimmed): ['CUS_0xd40' 'CUS_0x21b1' 'CUS_0x2dbc' 'CUS_0xb891' 'CUS_0x1cdb'
 'CUS_0x95ee' 'CUS_0x284a' 'CUS_0x5407' 'CUS_0x4157' 'CUS_0xba08']

Month
Examples of non-castable values: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'January', 'February']
Unique values (potentially trimmed): ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']

Name
Examples of non-castable values: ['Aaron Maashoh', 'Aaron Maashoh', 'Aaron Maashoh', 'Aaron Maashoh', 'Aaron Maashoh', 'Aaron Maashoh', 'Aaron Maashoh', 'Rick Rothackerj', 'Rick Rothackerj', 'Rick Rothackerj']
Unique values (potentially trimmed): ['Aaron Maashoh' nan 'Rick Rothackerj' 'Langep' 'Jasond' 'Deepaa' 'Np'
 'Nadiaq' 'Annk' 'Charlie Zhur']

Age
Examples of non-castable values: ['28_', '34_', '30_', '24_', '33_', '35_', '30_', '31_', '40_', '37_']
Unique values (potentially trimmed): ['23' '-500' '28_' '28' '34' '54' '55' '21' '31' '33']

SSN
Examples of non-castable values: ['821-00-0265', '821-00-0265', '821-00-0265', '821-00-0265', '821-00-0265', '821-00-0265', '821-00-0265', '#F%$D@*&8', '004-07-5839', '004-07-5839']
Unique values (potentially trimmed): ['821-00-0265' '#F%$D@*&8' '004-07-5839' '486-85-3974' '072-31-6145'
 '615-06-7821' '612-70-8987' '411-51-0676' '500-92-6408' '070-19-1622']

Occupation
Examples of non-castable values: ['Scientist', 'Scientist', 'Scientist', 'Scientist', 'Scientist', 'Scientist', 'Scientist', 'Scientist', '_______', 'Teacher']
Unique values (potentially trimmed): ['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Developer'
 'Lawyer' 'Media_Manager' 'Doctor' 'Journalist']

Annual_Income
Examples of non-castable values: ['34847.84_', '30689.89_', '35547.71_', '34081.38_', '114838.41_', '88640.24_', '54392.16_', '8701.545_', '8701.545_', '25546.26_']
Unique values (potentially trimmed): ['19114.12' '34847.84' '34847.84_' '143162.64' '30689.89' '30689.89_'
 '35547.71_' '35547.71' '73928.46' '131313.4']

Monthly_Inhand_Salary
Examples of non-castable values: []
Unique values (potentially trimmed): [ 1824.84333333            nan  3037.98666667 12187.22
  2612.49083333  2853.30916667  5988.705      11242.78333333
 10469.20775939  2611.115     ]

Num_Bank_Accounts
Examples of non-castable values: []
Unique values (potentially trimmed): [3 2 1 7 4 0 8 5 6 9]

Num_Credit_Card
Examples of non-castable values: []
Unique values (potentially trimmed): [   4 1385    5 1288    1    7    6 1029  488    8]

Interest_Rate
Examples of non-castable values: []
Unique values (potentially trimmed): [   3    6    8    4    5 5318   15    7   12   20]

Num_of_Loan
Examples of non-castable values: ['0_', '3_', '3_', '2_', '5_', '2_', '0_', '0_', '5_', '2_']
Unique values (potentially trimmed): ['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_']

Type_of_Loan
Examples of non-castable values: ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Credit-Builder Loan', 'Credit-Builder Loan']
Unique values (potentially trimmed): ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified'
 'Not Specified' nan 'Credit-Builder Loan, and Mortgage Loan'
 'Not Specified, Auto Loan, and Student Loan'
 'Personal Loan, Debt Consolidation Loan, and Auto Loan'
 'Not Specified, and Payday Loan'
 'Credit-Builder Loan, Personal Loan, and Auto Loan']

Delay_from_due_date
Examples of non-castable values: []
Unique values (potentially trimmed): [ 3 -1  5  6  8  7 13 10  0  4]

Num_of_Delayed_Payment
Examples of non-castable values: ['8_', '3_', '3_', '2_', '13_', '14_', '12_', '8_', '22_', '14_']
Unique values (potentially trimmed): ['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8']

Changed_Credit_Limit
Examples of non-castable values: ['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']
Unique values (potentially trimmed): ['11.27' '_' '6.27' '9.27' '5.42' '7.42' '6.42' '7.1' '11.1' '9.1']

Num_Credit_Inquiries
Examples of non-castable values: []
Unique values (potentially trimmed): [ 4.  2.  3. nan  5.  9.  8.  7.  6.  0.]

Credit_Mix
Examples of non-castable values: ['_', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good']
Unique values (potentially trimmed): ['_' 'Good' 'Standard' 'Bad']

Outstanding_Debt
Examples of non-castable values: ['1328.93_', '1283.37_', '2797.17_', '3818.57_', '343.84_', '363.51_', '404.51_', '1755.81_', '2593.44_', '89.62_']
Unique values (potentially trimmed): ['809.98' '605.03' '1303.01' '632.46' '943.86' '548.2' '352.16' '1704.18'
 '1377.74' '421.43']

Credit_Utilization_Ratio
Examples of non-castable values: []
Unique values (potentially trimmed): [26.82261962 31.94496006 28.60935202 31.37786187 24.79734691 27.26225871
 22.53759303 23.9337948  24.46403064 38.55084843]

Credit_History_Age
Examples of non-castable values: ['22 Years and 1 Months', '22 Years and 3 Months', '22 Years and 4 Months', '22 Years and 5 Months', '22 Years and 6 Months', '22 Years and 7 Months', '26 Years and 7 Months', '26 Years and 8 Months', '26 Years and 9 Months', '26 Years and 10 Months']
Unique values (potentially trimmed): ['22 Years and 1 Months' nan '22 Years and 3 Months'
 '22 Years and 4 Months' '22 Years and 5 Months' '22 Years and 6 Months'
 '22 Years and 7 Months' '26 Years and 7 Months' '26 Years and 8 Months'
 '26 Years and 9 Months']

Payment_of_Min_Amount
Examples of non-castable values: ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
Unique values (potentially trimmed): ['No' 'NM' 'Yes']

Total_EMI_per_month
Examples of non-castable values: []
Unique values (potentially trimmed): [4.95749492e+01 1.88162146e+01 2.46992319e+02 1.64154517e+01
 0.00000000e+00 1.50150000e+04 1.55150000e+04 1.37644605e+02
 9.11220179e+02 2.38340000e+04]

Amount_invested_monthly
Examples of non-castable values: ['__10000__', '__10000__', '__10000__', '__10000__', '__10000__', '__10000__', '__10000__', '__10000__', '__10000__', '__10000__']
Unique values (potentially trimmed): ['80.41529543900253' '118.28022162236736' '81.699521264648'
 '199.4580743910713' '41.420153086217326' '62.430172331195294'
 '178.3440674122349' '24.785216509052056' '104.291825168246'
 '40.39123782853101']

Payment_Behaviour
Examples of non-castable values: ['High_spent_Small_value_payments', 'Low_spent_Large_value_payments', 'Low_spent_Medium_value_payments', 'Low_spent_Small_value_payments', 'High_spent_Medium_value_payments', '!@9#%8', 'Low_spent_Small_value_payments', 'High_spent_Medium_value_payments', 'Low_spent_Small_value_payments', 'High_spent_Large_value_payments']
Unique values (potentially trimmed): ['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' '!@9#%8'
 'High_spent_Large_value_payments']

Monthly_Balance
Examples of non-castable values: []
Unique values (potentially trimmed): [312.49408868 284.6291625  331.20986285 223.45130973 341.48923103
 340.47921179 244.56531671 358.12416761 470.69062693 484.59121427]

Credit_Score
Examples of non-castable values: ['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Standard', 'Standard', 'Good']
Unique values (potentially trimmed): ['Good' 'Standard' 'Poor']

### Type_of_Loan

In [10]:
split = pd_df_train.Type_of_Loan[~pd_df_train.Type_of_Loan.isna()].apply(lambda x: re.split(r", and |, ", x))
Counter([x for l in split.to_list() for x in l])

Counter({'Payday Loan': 40568,
         'Credit-Builder Loan': 40440,
         'Not Specified': 39616,
         'Home Equity Loan': 39104,
         'Student Loan': 38968,
         'Mortgage Loan': 38936,
         'Personal Loan': 38888,
         'Debt Consolidation Loan': 38776,
         'Auto Loan': 37992})

TODO: split, determine unique and expand into categoricals

## Clean

### Replace with NaNs

In [18]:
pd_df_train_clean = cleanup_and_cast(pd_df_train)

### Initial EDA

In [39]:
pr = ProfileReport(pd_df_train_clean)

In [44]:
pr.to_file("eda.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Clean up outliers

In [19]:
pd_df_train_clean = replace_outliers(pd_df_train_clean)

In [13]:
for var in VARS_WITH_OUTLIERS_TOLERANCES.keys():
    print(var)
    desc = pd_df_train_clean[var].describe()
    print(desc)
    print("")

Age
count    97219.000000
mean        33.320009
std         10.769558
min         14.000000
25%         24.000000
50%         33.000000
75%         42.000000
max         56.000000
Name: Age, dtype: float64

Annual_Income
count     99001.000000
mean      50497.576053
std       38296.622971
min        7005.930000
25%       19344.270000
50%       36993.940000
75%       71676.000000
max      179987.280000
Name: Annual_Income, dtype: float64

Num_Bank_Accounts
count    98685.000000
mean         5.367624
std          2.593839
min         -1.000000
25%          3.000000
50%          5.000000
75%          7.000000
max         11.000000
Name: Num_Bank_Accounts, dtype: float64

Num_Credit_Card
count    97729.000000
mean         5.533322
std          2.067703
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         11.000000
Name: Num_Credit_Card, dtype: float64

Interest_Rate
count    97966.000000
mean        14.531603
std          8.739748
min          1.000000
25%          7.000000
50%         13.000000
75%         20.000000
max         34.000000
Name: Interest_Rate, dtype: float64

Num_of_Loan
count    95652.000000
mean         3.533758
std          2.447308
min          0.000000
25%          2.000000
50%          3.000000
75%          5.000000
max          9.000000
Name: Num_of_Loan, dtype: float64

Num_of_Delayed_Payment
count    71357.000000
mean        13.310565
std          6.193767
min         -2.000000
25%          9.000000
50%         14.000000
75%         18.000000
max         27.000000
Name: Num_of_Delayed_Payment, dtype: float64

Num_Credit_Inquiries
count    82226.000000
mean         5.620485
std          3.794026
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         17.000000
Name: Num_Credit_Inquiries, dtype: float64

Total_EMI_per_month
count    94596.000000
mean       103.459203
std        119.519725
min          0.000000
25%         28.882213
50%         65.556838
75%        143.808822
max       1779.103254
Name: Total_EMI_per_month, dtype: float64

### EDA after removing outliers

In [82]:
pr_no_outliers = ProfileReport(pd_df_train_clean)
pr_no_outliers.to_file("eda_no_outliers.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Fill NaNs

In [14]:
pd_df_train_clean.apply(lambda x: x.isna().sum(), axis=0)

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                          2781
SSN                             0
Occupation                   7062
Annual_Income                 999
Monthly_Inhand_Salary       15002
Num_Bank_Accounts            1315
Num_Credit_Card              2271
Interest_Rate                2034
Num_of_Loan                  4348
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment      28643
Changed_Credit_Limit         2091
Num_Credit_Inquiries        17774
Credit_Mix                  20195
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount       12007
Total_EMI_per_month          5404
Amount_invested_monthly      8784
Payment_Behaviour               0
Monthly_Balance              1209
Credit_Score                    0
dtype: int64

In [21]:
pd_df_train_clean = fill_nas_from_other_customer_records(pd_df_train_clean)

In [35]:
pd_df_train_clean.apply(lambda x: x.isna().sum(), axis=0)

ID                              0
Customer_ID                     0
Month                           0
Name                            0
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary           0
Num_Bank_Accounts               0
Num_Credit_Card              2271
Interest_Rate                2034
Num_of_Loan                  4348
Type_of_Loan                    0
Delay_from_due_date             0
Num_of_Delayed_Payment      28643
Changed_Credit_Limit         2091
Num_Credit_Inquiries        17774
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age              0
Payment_of_Min_Amount       12007
Total_EMI_per_month          5404
Amount_invested_monthly      8784
Payment_Behaviour            7600
Monthly_Balance              1209
Credit_Score                    0
dtype: int64

# Read data - Polars

In [41]:
pl_df_train = pl.read_csv("train.csv")

ComputeError: Could not parse `__-333333333333333333333333333__` as dtype `f64` at column 'Monthly_Balance' (column number 27).
The current offset in the file is 23442390 bytes.

You might want to try:
- increasing `infer_schema_length` (e.g. `infer_schema_length=10000`),
- specifying correct dtype with the `dtypes` argument
- setting `ignore_errors` to `True`,
- adding `__-333333333333333333333333333__` to the `null_values` list.

In [ ]:
NULL_VALUES_LIST = ["__-333333333333333333333333333__"]
pl_df_train = pl.read_csv("train.csv", null_values=NULL_VALUES_LIST)

In [ ]:
x = pl.read_csv("train.csv", ignore_errors=True)

In [ ]:
x

In [ ]:
pl_df_train.dtypes

In [ ]:
pl_df_train.schema

In [ ]:
df_train.Delay_from_due_date.describe()